/* .login{
    width: 50%;
    margin-top: 200px;
    text-align: center;
    margin-left: 300px;
}

.loginContainer{
    text-align: center;
}

/* @media (min-width: 320) {
   .login{
    margin-right: 100px;
   }
} */ 